@font-face {
    font-family: 'black-chancery';
    src: url('./fonts/blackchancery/BLKCHCRY.TTF');
}

:root{
    --body-bg-color: #FBEEDE;
    --card-bg-color: #BAAD9D;
    --btn-bg-color: #50322F;
    --text-color: #FBEEDE;
}

body {
    background-color: var(--body-bg-color);
    padding: 1rem;
    font-family: 'black-chancery','Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    /* padding: 0 1rem; */
}

header, main {
    width: 80%;
    /* margin-left: auto;
    margin-right: auto; */
}

header #title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--btn-bg-color);
}

.add-book {
    background-color: var(--btn-bg-color);
    color: #FBEEDE;
    border: none;
    font-size: 1rem;
    padding: 0.35rem 1.2rem;
    border-radius: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}
.add-book:hover {
    opacity: 0.9;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color);
    align-items: stretch;
    border: 2px solid var(--btn-bg-color);
    border-radius: 0.5rem;
    width:300px;
    padding: 1.5rem 1rem;
    height: max-content;
}

h2 {
    letter-spacing: 2px;
}
p {
    letter-spacing: 1px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn-container > button {
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    padding: 0.3rem 0.7rem;
    width: 110px;
    height: fit-content;
}

.read, 
.submit-form-btn {
    background-color: var(--btn-bg-color);
    color: #FBEEDE;
}

.submit-form-btn {
    border: none;
    border-radius: 2rem;
    padding: 0.3rem 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.not-read {
    background-color: #FBEEDE;
    color: black;
}

dialog {
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    padding: 1.5rem 1rem;
    background-color: var(--body-bg-color);
    border: 2px solid var(--btn-bg-color);
    border-radius: 1rem;
    width: 310px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-field {
    display: flex;
    flex-direction: column;
}


form > legend {
    font-size: 1.5rem;
}

.close-modal {
    width: 25px;
    position: fixed;
    top: 1rem;
    right: 1rem;
}


.delete {
    width: 35px;
    fill: var(--btn-bg-color);
}


button, img {
    cursor: pointer;
}

button:hover, 
img:hover{
    opacity: 0.85;
}